.snakes {
    width: 200px;
    height: 100px;
    background-image: url('./assets/snakes.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    color: black;
    margin-top: 20px;
}