.innerParent {
    position: absolute;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: 
        "cell100 cell99 cell98 cell97 cell96 cell95 cell94 cell93 cell92 cell91"
        "cell81 cell82 cell83 cell84 cell85 cell86 cell87 cell88 cell89 cell90"
        "cell80 cell79 cell78 cell77 cell76 cell75 cell74 cell73 cell72 cell71"
        "cell61 cell62 cell63 cell64 cell65 cell66 cell67 cell68 cell69 cell70"
        "cell60 cell59 cell58 cell57 cell56 cell55 cell54 cell53 cell52 cell51"
        "cell41 cell42 cell43 cell44 cell45 cell46 cell47 cell48 cell49 cell50"
        "cell40 cell39 cell38 cell37 cell36 cell35 cell34 cell33 cell32 cell31"
        "cell21 cell22 cell23 cell24 cell25 cell26 cell27 cell28 cell29 cell30"
        "cell20 cell19 cell18 cell17 cell16 cell15 cell14 cell13 cell12 cell11"
        "cell1 cell2 cell3 cell4 cell5 cell6 cell7 cell8 cell9 cell10";
    width: 60%;
    aspect-ratio: 1;
    max-width: 600px;
    border: 2px solid red;
}
.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.cell:nth-child(even){
    background-color: orangered;
}
.icon{
    --diceMoveX: 0;
    --diceMoveY: 0;
    position: absolute;
    top: 0px;
    color: yellow;
    /* animation: move 1s linear both 2s; */
    /* transform: translate(100px, 200px); */
    transition: all 300ms;
    transform: translate(var(--diceMoveX, 0), var(--diceMoveY, 0));
}
@keyframes move {
    from{
        transform: translate(300px, 240px);
    }
    to{
        transform: translate(120px, 480px);
    }
}
.snake {
    position: absolute;
    background-image: url('../assets/snake.gif');
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    height: 40%;
    top: 4%;
}       