.Ladder {
    width: 200px;
    height: 100px;
    background-image: url('./assets/ladder.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    color: pink;
    margin-top: 20px;
}