.parentBoard {
    perspective: 1000px;
    perspective-origin: center bottom;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: board;
}