.boardClass {
    width: 250px;
    height: 100px;
    background-image: url('./assets/board.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    color: green;
    margin-top: 20px;
}